	body{
		overflow-x: hidden;	
		background: url(clipboard_edit-removebg-preview.png);
		background-repeat: no-repeat;
		background-position: center bottom 10%;
		background-size: 400px;
		background-color: whitesmoke;
		margin-bottom: 100px;
	}	
	
	.createProcessFormContainer{
		margin-left: 4%;
		width: 92%;
	}
	
	#title{
		font-weight: bolder;
		font-size: 60px;	
		color: #045a81;
		text-decoration: underline 2pt solid black;	
	}

	.projectContainer{
		border-top: 1pt solid gainsboro;	
		margin-bottom: 30px;
	}	
	
	.projectLinkContainer{
		padding-top: 5px;
		padding-bottom: 5px;	
		height: 55px;
	}
	
	.partLinkContainer{
		padding-top: 5px;
		padding-bottom: 5px;	
		border-bottom: 1pt solid gainsboro;		
		height: 55px;
	}
	
	.projectLinkContainer:hover{
		background-color: rgba(37,150,190,0.3)	
	}
	
	.partLinkContainer:hover{
		background-color: rgba(255,74,74,0.3)	;	
	}
	
	.bi-box, .bi-boxes{
		margin-right: 30px;	
	}

	#projectName{
		padding-left: 100px;
		color: black;
		font-size: 30px;
		font-weight: bold;	
	}

	#partName{
		padding-left: 130px;
		color: black;
		font-size: 22px;
		font-weight: bolder;	
		height: 45px;
		margin-top: 6px;
	}

	.requiredFeild{
		padding-top:40px;	
	}
	
	label[for="id_name"]{
		display: none;
		float: left;	
	}
	
	input[type="text"]{
		border-radius: 15px;
		margin-left: 2%;
		float: left;
		margin-left: 0;
	}
	
	label[for="id_manual"]{
		float: left;
		display: inline;	
		margin: 5px 10px;
		font-weight: bold;
	}
	
	input[type="checkbox"]{
		float: left;	
		display: inline;
		margin-top: 10px;
	}
		
	.buttons{
		float: left;
		margin-left: 8%;	
		display: inline-block;
		width: 200px;
		margin-bottom: 100px;
	}
	
	.btn-success{
		width: 48%;	
		font-weight: bold;
	}
	
	.btn-danger{
		width: 48%;	
		font-weight: bold;
	}
	