	
	
	body{
		background-color: whitesmoke;
		background: linear-gradient(90deg, #2596be 0%, #7CC0D8 15%, #2596be 30%, #000033 30%, #000033 31%, whitesmoke 31%);
		margin-bottom: 100px;
		overflow-x: hidden;	
	}
	
	.title{
		margin-left: 2%;
		margin-right: 70%;
		margin-top: 20px;
		width: 28%;
		font-size: 550%;
		font-weight: bold;
		color: whitesmoke;
		line-height: 80px;	
	}		

	#icon{
		float: left;
		margin: 80px 0 0 0;
		display: inline-block;
		width: 30%
	}
	
	.bi-unlock{
		width: 100%;	
		height: 300px;
		color: whitesmoke;
	}	
	
	.registerContainer{
		width: 30%;
		margin-left: 10%;
		background-color: white;
		border-radius: 50px;
		padding: 20px 20px 20px 20px;
		text-align: center;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		display: inline-block; 
	}
	
	.registerFormCont{
		width: 80%;	
		margin-left: 10%;
		text-align: left;
	}

	#logoForm{
		width: 80%;	
	}	
	
	.requiredField{
		font-weight: bold;	
	}	
	
	.asteriskField{
		display: none;
	}	
	
	#div_id_old_password{
		height: 70px;
}

	.textinput{
		margin-bottom: 15px;
	}

	.btn.btn-success{
		background-color: #2596be;
		border-color: #2596be;
		color: whitesmoke;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		margin-top: 20px;
		width: 25%;
		font-size: 20px;
		font-weight: bold;
	}

	
	