	body{
		background: linear-gradient(10deg, #7CC0D8 0%, #2596be 55%, darkgray 55%, darkgray 55.5%, whitesmoke 55.5%);
		overflow-x: hidden;
	}

	.registerContainer{
		width: 30%;
		margin-top: 100px;
		margin-left: 35%;
		background-color: white;
		border-radius: 50px;
		padding: 20px 20px 20px 20px;
		text-align: center;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	}
	
	.registerFormCont{
		width: 80%;	
		margin-left: 10%;
		text-align: left;
	}
	
	#logoForm{
		width: 80%;	
	}	

	.requiredField{
		font-weight: bold;	
	}	

	.asteriskField{
		display: none;	
	}
	
	input[name="username"], [name="email"], [name="password1"], [name="password2"] {
		margin-bottom: 10px;	
	}
	
	select[name="company_name"]{
		margin-bottom: 30px;
	}
	
	.btn-success{
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		width: 35%;	
		border-radius: 25px;
		background-color: #2596be;
		border-color: #2596be;
		font-weight: bold;
	}
	
	.btn-success:hover{
		background-color: #88d1f5;
		border-color: #88d1f5;
	}

	.btn-success:focus{
		background-color: #88d1f5;
		border-color: #88d1f5;
	}
	