{%extends 'Main/base.html'%}

{%block title%}Create New List{%endblock%}

{%block pageTitle%}Blank Detail Page{%endblock%}


{%block content%}

{%load static%}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'MainData/viewPartDetailStyle.css'%}">
</head>

<body>
	<div class="siteMap">
		<p class="siteLevel">Part</p>
	</div>
	<div class="backlinkContainer">
		<a href="/parts{{blank.project.id}}" id="backNav" ><- Project Parts</a>
	</div>		

	<h3 id="title">Blank{{blank.blank_id}} Info</h3>
	<div class="projectContainer">	
		<div class="project">				
			<span id="heading">Blank Values</span>				
			<span class="table">				
				<ul>
					<li class="cycle1">Price per KG</li>
					<li class="cycle1">{{blank.priceKG}} £/Kg</li>
					<li class="cycle2">Price per Metre Squared</li>
					<li class="cycle2">{{blank.priceM2}} £/m^2</li>
					<li class="cycle1">Material Density</li>
					<li class="cycle1">{{blank.materialDensity}}Kg/m^2</li>
					<li class="cycle2">Power Rate</li>
					<li class="cycle2">£/Kwh {{blank.project.powerRate}}</li>
					<li class="cycle2">CO2 Released per KWH</li>
					<li class="cycle2">0.241 Kg</li>				
					{%if management%}
					<li class="cycle1">Material Cost</li>
					<li class="cycle1">£{{blank.materialCostPerBlank}}</li>
					<li class="cycle2">Material Wastage Cost</li>
					<li class="cycle2">£{{blank.materialWastageCostPerBlank}}</li>
					<li class="cycle2">Technician Labour Cost</li>
					<li class="cycle2">£{{blank.technicianLabourCostPerBlank}}</li>
					<li class="cycle1">Supervisor Labour Cost</li>
					<li class="cycle1">£{{blank.supervisorLabourCostPerBlank}}</li>
					<li class="cycle1">Total Cost</li>
					<li class="cycle1">£{{blank.totalCost}}</li>
					<li class="cycle2">Process Time Per Blank</li>
					<li class="cycle2">{{blank.processTimePerBlank}}</li>
					<li class="cycle1">Interface Time Per Blank</li>
					<li class="cycle1">{{blank.interfaceTimePerBlank}}</li>
					<li class="cycle2">Cycle Time Per Blank</li>
					<li class="cycle2">{{blank.cycleTimePerBlank}}</li>
					<li class="cycle1">Blank Area Ratio</li>
					<li class="cycle1">{{blank.blankAreaRatio}}</li>
					<li class="cycle2">Blank Perimeter Ratio</li>
					<li class="cycle2">{{blank.blankPerimeterRatio}}</li>
					<li class="cycle1">Blank Scrap Rate</li>
					<li class="cycle1">{{blank.blankScrapRate}}%</li>
					{%endif%}
				</ul>
			</span>
		</div>

		<div class="flex justify-between items-center mb-6 px-8">
			<h3 id="title" class="text-2xl font-bold"></h3>
			<div class="flex gap-4">
				<a href="{% url 'export_blank_pdf' id=blank.blank_id %}"
				   class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 
						  focus:ring-green-300 font-medium rounded-lg text-lg px-10 py-4
						  text-center shadow-lg transform hover:scale-105 transition-transform duration-200
						  flex items-center gap-2">
					<svg xmlns="http://www.w3.org/2000/svg"
						 class="h-6 w-6"
						 fill="none"
						 viewBox="0 0 24 24"
						 stroke="currentColor">
						<path stroke-linecap="round"
							  stroke-linejoin="round"
							  stroke-width="2"
							  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
					</svg>
					Export PDF
				</a>
				<br>
				<a href="{% url 'export_blank_csv' id=blank.blank_id %}"
				   class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 
						  focus:ring-green-300 font-medium rounded-lg text-lg px-10 py-4
						  text-center shadow-lg transform hover:scale-105 transition-transform duration-200
						  flex items-center gap-2">
					<svg xmlns="http://www.w3.org/2000/svg"
						 class="h-6 w-6"
						 fill="none"
						 viewBox="0 0 24 24"
						 stroke="currentColor">
						<path stroke-linecap="round"
							  stroke-linejoin="round"
							  stroke-width="2"
							  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
					</svg>
					Export CSV
				</a>
			</div>
		</div>
		<div class="project">
				<a href="/partSubDetail{{processPart.id}}" class="text-decoration-none">				
					<span>
						<span id="processHeading">Process: {{processPart.processName}}</span>
					</span>	
				</a>
					{%if management%}
						<span class="table">
							<ul>
								<li class="cycle1">Date</li>
								<li class="cycle1">{{processPart.date}}</li>
								<li class="cycle2">Labour Input</li>
								<li class="cycle2">{{processPart.labourInput}}%</li>
								<li class="cycle1">Job Start</li>
								<li class="cycle1">{{processPart.jobStart}}</li>
								<li class="cycle2">Job End</li>
								<li class="cycle2">{{processPart.jobEnd}}</li>				
								<li class="cycle1">Interface Time</li>
								<li class="cycle1">{{processPart.interfaceTime}}</li>
								<li class="cycle2">Process Time</li>
								<li class="cycle2">{{processPart.processTime}}</li>
								<li class="cycle1">Cycle Time</li>
								<li class="cycle1">{{processPart.cycleTime}}</li>
								<li class="cycle1">Technician Labour Time</li>
								<li class="cycle1">{{processPart.technicianLabour}}</li>
								<li class="cycle2">Supervisor Labour Time</li>
								<li class="cycle2">{{processPart.supervisorLabour}}</li>

								<!--<li>Pop Up Start: {{processPart.popUpStarr}}</li>
								<li>Pop Up End: {{processPart.popUpEnd}}</li>
								<li>Pre-Trim Weight: {{processPart.preTrimWeight}}</li>
								<li>Post-Trim Weight: {{processPart.postTrimWeight}}</li>-->
							</ul>
						</span>
						{%elif technician or supervisor%}
							<div class="table">
								{%for sensor in processPart.sensordata_set.all%}
									<a href="/processPartSensor{{sensor.id}}" class="text-decoration-none" id="SensorLink">
										<ul class="sensorStatus">
											{%if sensor.status == 0%}										
												<li class="waitingState" style="border: 1pt solid black;">{{sensor.sensorName}} <div class="circleBase circle1"></div></li>
											{%elif sensor.status == 1%}
												<li class="inProgressState" style="border: 1pt solid black">{{sensor.sensorName}} <div class="circleBase circle2"></div></li>
											{%elif sensor.status == 2%}
												<li class="finishedState" style="border: 1pt solid black">{{sensor.sensorName}} <div class="circleBase circle3"></div></li>
											{%elif sensor.status == 3%}
												<li class="errorState" style="border: 1pt solid black">{{sensor.sensorName}} <div class="circleBase circle4"></div></li>
											{%endif%}		
										</ul>
									</a>
								{%endfor%}
							</div>
						{%endif%}

					</div>	

					<div class = "formContainer">
						<form method="POST" action="#">
							{%csrf_token%}		
							<h3>Select a Process</h3>
							<div>{{process_select_form}}</div>	
							<button type="submit", name="processPartSelect", value="processPartSelect", class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Select</button>
						</form>
					</div>
				</div>
<h3 id="title">Blank{{blank.blank_id}} Part Relations</h3>
		<div class="projectContainer">


			<div class="project">
				<a href="/partDetail{{blank.part.part_id}}" class="text-decoration-none">				
					<span>
						<span id="processHeading">Part: {{blank.part}}</span>
					</span>	
				</a>
					{%if management%}
						<span class="table">
							<ul>
								<li class="cycle1">Price per KG</li>
								<li class="cycle1">{{ priceKG }} £/Kg</li>
								<li class="cycle2">Price per Metre Squared</li>
								<li class="cycle2">{{ priceM2 }} £/m^2</li>
								<li class="cycle1">Material Density</li>
								<li class="cycle1">{{ materialDensity }} Kg/m^2</li>
								<li class="cycle2">Power Rate</li>
								<li class="cycle2">{{ powerRate }} £/Kwh</li>
								<li class="cycle2">CO2 Released per KWH</li>
								<li class="cycle2">{{ CO2EmissionsPerBlank }} Kg</li>			
								{%if management%}
								<li class="cycle1">Material Cost</li>
								<li class="cycle1">£{{blank.part.materialCostPerPart}}</li>
								<li class="cycle2">Material Wastage Cost</li>
								<li class="cycle2">£{{blank.part.materialWastageCostPerPart}}</li>
								<li class="cycle2">Technician Labour Cost</li>
								<li class="cycle2">£{{blank.part.technicianLabourCostPerPart}}</li>
								<li class="cycle1">Supervisor Labour Cost</li>
								<li class="cycle1">£{{blank.part.supervisorLabourCostPerPart}}</li>
								<li class="cycle1">Total Cost</li>
								<li class="cycle1">£{{blank.part.totalCost}}</li>
								<li class="cycle2">Process Time Per Part</li>
								<li class="cycle2">{{blank.part.processTimePerPart}}</li>
								<li class="cycle1">Interface Time Per Part</li>
								<li class="cycle1">{{blank.part.interfaceTimePerPart}}</li>
								<li class="cycle2">Cycle Time Per Part</li>
								<li class="cycle2">{{blank.part.cycleTimePerPart}}</li>
								<li class="cycle1">Part Area Ratio</li>
								<li class="cycle1">{{blank.part.partAreaRatio}}</li>
								<li class="cycle2">Part Perimeter Ratio</li>
								<li class="cycle2">{{blank.part.partPerimeterRatio}}</li>
								<li class="cycle1">Part Scrap Rate</li>
								<li class="cycle1">{{blank.part.partScrapRate}}%</li>
								{%endif%}
							</ul>
						</span>
						{%elif technician or supervisor%}
							<div class="table">
								{%for sensor in blank.part.sensordata_set.all%}
									<a href="/processPartSensor{{sensor.id}}" class="text-decoration-none" id="SensorLink">
										<ul class="sensorStatus">
											{%if sensor.status == 0%}										
												<li class="waitingState" style="border: 1pt solid black;">{{sensor.sensorName}} <div class="circleBase circle1"></div></li>
											{%elif sensor.status == 1%}
												<li class="inProgressState" style="border: 1pt solid black">{{sensor.sensorName}} <div class="circleBase circle2"></div></li>
											{%elif sensor.status == 2%}
												<li class="finishedState" style="border: 1pt solid black">{{sensor.sensorName}} <div class="circleBase circle3"></div></li>
											{%elif sensor.status == 3%}
												<li class="errorState" style="border: 1pt solid black">{{sensor.sensorName}} <div class="circleBase circle4"></div></li>
											{%endif%}		
										</ul>
									</a>
								{%endfor%}
							</div>
						{%endif%}
					</div>	
				

		</div>

		<h3 id="title">Blank{{blank.blank_id}} Ply Relations</h3>
<div class="projectContainer">
    {% for ply in blank.ply_set.all %}
    <div class="project">
        <a href="/plyDetail{{ply.ply_id}}" class="text-decoration-none">
            <span>
                <span id="processHeading">Ply: {{ply}}</span>
            </span>
        </a>
        {% if management %}
        <span class="table">
            <ul>
                <li class="cycle1">Price per KG</li>
                <li class="cycle1">{{ply.priceKG}} £/Kg</li>
                <li class="cycle2">Price per Metre Squared</li>
                <li class="cycle2">{{ply.priceM2}} £/m^2</li>
                <li class="cycle1">Material Density</li>
                <li class="cycle1">{{ply.materialDensity}}Kg/m^2</li>
                <li class="cycle2">Power Rate</li>
                <li class="cycle2">£/Kwh {{ply.powerRate}}</li>
                <li class="cycle2">CO2 Released per KWH</li>
                <li class="cycle2">{{ply.CO2EmissionsPerPly}}Kg</li>
                <li class="cycle1">Material Cost</li>
                <li class="cycle1">£{{ply.materialCostPerPly}}</li>
                <li class="cycle2">Material Wastage Cost</li>
                <li class="cycle2">£{{ply.materialWastageCostPerPly}}</li>
                <li class="cycle2">Technician Labour Cost</li>
                <li class="cycle2">£{{ply.technicianLabourCostPerPly}}</li>
                <li class="cycle1">Supervisor Labour Cost</li>
                <li class="cycle1">£{{ply.supervisorLabourCostPerPly}}</li>
                <li class="cycle1">Total Cost</li>
                <li class="cycle1">£{{ply.totalCost}}</li>
                <li class="cycle2">Process Time Per Ply</li>
                <li class="cycle2">{{ply.processTimePerPly}}</li>
                <li class="cycle1">Interface Time Per Ply</li>
                <li class="cycle1">{{ply.interfaceTimePerPly}}</li>
                <li class="cycle2">Cycle Time Per Ply</li>
                <li class="cycle2">{{ply.cycleTimePerPly}}</li>
                <li class="cycle1">Ply Area Ratio</li>
                <li class="cycle1">{{ply.plyAreaRatio}}</li>
                <li class="cycle2">Ply Perimeter Ratio</li>
                <li class="cycle2">{{ply.plyPerimeterRatio}}</li>
                <li class="cycle1">Ply Scrap Rate</li>
                <li class="cycle1">{{ply.plyScrapRate}}%</li>
            </ul>
        </span>
        {% endif %}
    </div>
    {% endfor %}
</div>		

		</div>

		
					</div>	

				</div>


		</div>
	</div>
</body>
{%endblock%}
