{%extends 'Main/base.html'%}

{%block title%}Add account{%endblock%}

{%block pageTitle%}Register Page{%endblock%}

{%block login%}

{%load static%}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'Login/registerStyle.css'%}">
</head>
<body>
	<center>
		<div class="gradientText">Register</div>
	</center>
	<center class="registerContainer">
		<img id="logoForm" src="{% static 'Login/Logo_Airborne_Smartphone_Tablet_high-resolution.svg' %}" alt="airborne-logo">
		<form method = 'POST', class='form-group'>
			{%csrf_token%}
			{{user_form}}
			{{profile_form}}
			<button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800" style="margin-top: 10px;">
 				<span class="relative px-10 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
	   				Save
	  			</span>
			</button>
		</form>
	</center>
</body>
{%endblock%}

