{%extends 'Main/base.html'%}



{%block title%}Final Inspection{%endblock%}
{%block pageTitle%}Final Inspection{%endblock%}

{%block content%} 

{%load static%}


<head>
	<link rel="stylesheet" type="text/css" href="{% static 'Main/finalInspectionStyle.css'%}">
</head>
<body>
	<div class="siteMap">
		<p class="siteLevel"><a href="p{{Pro.project.id}}" class="hyperlink">Project</a> -> <a href="{{sub_pro.process.id}}" class="hyperlink">Process</a> -> Sub-Process</p>
	</div>
	<div class="backlinkContainer"><!--{% cycle 'component' 'component1' 'component2'%}-->
		<a href="{{sub_pro.process.id}}" id="backNav" ><- Back</a>
	</div>
	<center><h2>{{sub_pro.process.project.project_name}}</h2></center>
	<div class = "compFormContainer">
		{%if supervisor%}		
			<div class="tableAndTitle">
				<h3 id="tableTitle">Tolerances and Measurements</h3>
				<div class="table">
					<ul> 
			      	<li class="cycle1">Thickness tolerance</li>
			      	<li class="cycle1">{{sub_pro.process.project.thicknessTolerance}}%</li>
			         <li class="cycle2">Nominal Width</li>
			         <li class="cycle2">{{sub_pro.process.project.nominalPartWidth}} mm</li>
			         <li class="cycle1">Actual Width</li>
			         <li class="cycle1">{{sub_pro.actualWidth}} mm</li>
			         <li class="cycle2">Nominal Length</li>
			         <li class="cycle2">{{sub_pro.process.project.nominalPartLength}} mm</li>
			         <li class="cycle1">Actual Length</li>
			         <li class="cycle1">{{sub_pro.actualLength}} mm</li>
			         <li class="cycle2">Nominal Thickness</li>
			         <li class="cycle2">{{sub_pro.process.project.nominalPartThickness}} mm</li>
			         <li class="cycle1">Actual Thickness</li>
			         <li class="cycle1">{{sub_pro.actualThickness}} mm</li>
			         <li class="cycle2">Nominal Preform Weight</li>
			         <li class="cycle2">{{sub_pro.process.project.nominalPartWeight}} kg</li>
			         <li class="cycle1">Actual Weight</li>
			         <li class="cycle1">{{sub_pro.actualWeight}} kg</li>    
			         <li class="cycle2">Width Tolerance</li>
			         <li class="cycle2">{{sub_pro.process.project.widthTolerance}}%</li>
			         <li class="cycle1">Length Tolerance</li>
			         <li class="cycle1">{{sub_pro.process.project.lengthTolerance}}%</li>
			         <li class="cycle2">Depth Tolerance</li>
			         <li class="cycle2">{{sub_pro.process.project.depthTolerance}}%</li>
			         <li class="cycle1">Weight Tolerance</li>
			         <li class="cycle1">{{sub_pro.process.project.weightTolerance}}%</li>
			         <li class="cycle2">Preform Wrinkling tolerance</li>
			         <li class="cycle2">{{sub_pro.process.project.preformWrinklingTolerance}}%</li>
					</ul>
				</div>
			</div>
		{%endif%}
		{%csrf_token%}  
		{%if management or supervisor%}
			<div class="tableAndTitle">
	      	<h3 id="tableTitle">{%if sub_pro.process.project.manual%}{{sub_pro.manualName}}{%else%}{{sub_pro.name}}{%endif%} Values</h3>  
	      	<div class="table">     
		        	<ul>
		         	<li class="cycle1">Operator</li>
		         	<li class="cycle1">{{sub_pro.operator}}</li>
		          	<li class="cycle2">Labour Input</li>
		          	<li class="cycle2">{{sub_pro.labourInput}}%</li>
		     			{%if management%}		          	
		          		<li class="cycle1">Machines</li>
		          		<li class="cycle1">{%if sub_pro.plyCutter != None%}  {{sub_pro.plyCutter}} {%endif%} {%if sub_pro.sortPickAndPlace != None%} {{sub_pro.sortPickAndPlace}} {%endif%} {%if sub_pro.blanksPickAndPlace != None%} {{sub_pro.blanksPickAndPlace}} {%endif%}{%if sub_pro.preformCell != None%} {{sub_pro.preformCell}} {%endif%}</li>
			          	{%if sub_pro.processCheck%}   
			            	<li class="cycle2">Process Time</li>
			            	<li class="cycle2">{{sub_pro.processTime}}</li>
		   	       	{%else%}
		      	     		<li class="cycle2">Interface Time</li>
		         	   	<li class="cycle2">{{sub_pro.interfaceTime}}</li>
		          		{%endif%}
						{%endif%}		          	
		          	<li class="cycle1">Job Start</li>
		          	<li class="cycle1">{{sub_pro.jobStart}}</li>
		          	<li class="cycle2">Job End</li>
		          	<li class="cycle2">{{sub_pro.jobEnd}}</li>
						{%if management%}
			          	<li class="cycle1">Scrap Rate</li>
			          	<li class="cycle1">{{sub_pro.scrapRate}}%</li>
			          	<li class="cycle2">Batch Size</li>
		   	       	<li class="cycle2">{{sub_pro.batchSize}}</li>
		      	    	<li class="cycle1">Power Consumption</li>
		         	 	<li class="cycle1">{{sub_pro.power}} Kwh</li>
		          		<li class="cycle2">CO2 emissions from power</li>
			          	<li class="cycle2">{{sub_pro.CO2}} Kg</li>      
			          	<li class="cycle1">Pre Trim Weight</li>
			          	<li class="cycle1">{{sub_pro.preTrimWeight}} Kg</li>
		   	       	<li class="cycle2">Post Trim Weight</li>
		      	    	<li class="cycle2">{{sub_pro.postTrimWeight}} Kg</li>       
						{%endif%}		        	
		        	</ul>
				</div>
			</div>  
	  	{%endif%}
  		{%if management%}
    		<div class="tableAndTitle">
	      	<h3 id="tableTitle">{%if sub_pro.process.project.manual%}{{sub_pro.manualName}}{%else%}{{sub_pro.name}}{%endif%} Cost Breakdown</h3>
	      	<div class="table">   
	        		<ul>
	          		<li class="cycle1">Cost of Material Waste</li>
			         <li class="cycle1">£{{sub_pro.materialWastageCost}}</li>
			         <li class="cycle2">Cost of Scrap</li>
			         <li class="cycle2">£{{sub_pro.materialScrapCost}}</li>
			         <li class="cycle1">Cost of Part</li>
			         <li class="cycle1">£{{sub_pro.materialPartCost}}</li> 
			         <li class="cycle2">Technician Labour Cost</li>
			         <li class="cycle2">£{{sub_pro.technicianLabourCost}}</li>
			         <li class="cycle1">Supervisor Labour Cost</li>
			         <li class="cycle1">£{{sub_pro.supervisorLabourCost}}</li>
			         <li class="cycle2">Power Consumption Cost</li>
			         <li class="cycle2">£{{sub_pro.powerCost}}</li>
			         <li class="cycle1">Total Cost</li>
			         <li class="cycle1">£{{sub_pro.totalCost}}</li>
			      </ul>
			   </div>
			</div>
	  	{%endif%}
	</div>	
	{%if supervisor%}
	<div class="graphContainer">	
		<canvas id="weight-graph" data-url = "{% url 'final' sub_pro.id%}"></canvas>
		<canvas id ="thickness-graph" data-url = "{% url 'final' sub_pro.id%}"></canvas>
	</div>
	{%endif%}
  	<div class="subProSensorContainer">  
    	<h3 id="sensorTitle">{%if sub_pro.process.project.manual%}{{sub_pro.manualName}}{%else%}{{sub_pro.name}}{%endif%} Sensors</h3>      	
    	<ul>  
	     	{%for sensor in sub_pro.sensor_set.all%}
   	  		<li class="subList">{{sensor.name}}-{{sensor.modelID}}</li>  
     		{%endfor%}
    	</ul>
  	</div>
	{%if supervisor%}
		<div class="thirdContainer">
			<div class="editContainer"> 
	      	<form method="POST" action="#">
	        		<h3 id="addProcess">Add Sensor</h3>
	        		{%csrf_token%}    
	        		<div>{{sensor_form}}</div>
	        		<p id="error">{{error1}}</p>    
	        		<button type="submit", name="addSensor", value="add" class="btn btn-success">Add</button>
	        		<button type="submit", name="deleteSensor", value="delete" class="btn btn-danger">Delete</button>
					{%if deletion == True%}
	            	{{select_sensor_form}}
	            	<button type="submit", name="deleteSelection", value="delete" class="btn btn-danger">Delete</button>
	        		{%endif%}
	      	</form>
	    	</div>
			<div class="editContainer"> 
	      	<form method="POST" action="#">
	        		<h3 id="addProcess">Add Machine</h3>
	        		{%csrf_token%}    
	        		<div>{{machine_form}}</div>
	        		<p id="error">{{error2}}</p>    
	        		<button type="submit", name="addMachine", value="add" class="btn btn-success">Add</button>
	        		<button type="submit", name="delMachine", value="delete" class="btn btn-danger">Delete</button>
	      	</form>
	    	</div>
			<div class="editContainer">
	      	<form method="POST", action="#">    
	        		<h3 id="addProcess">Change Operator</h3>
	        		{%csrf_token%}  
	        		<div>{{operator_form}}</div>
	        		<p id="error">{{error}}</p>   
	        		<button type="submit", name="ChangeOP", value="add" class="btn btn-success">Add</button>        
	      	</form>
	    	</div>
	    	<div class="editContainer"> 
	      	<form method="POST" action="#">
	       		<h3 id="addProcess">Change Specific Field</h3>
	        		{%csrf_token%}    
	        		<div>{{sub_master_form}}</div>
	        		<p id="error">{{error2}}</p>    
	        		<button type="submit", name="ChangeSubMaster", value="add" class="btn btn-success">Add</button>

	      	</form>
	    	</div>
	    	<div class="editContainer">
	      	<form method="POST", action="#">    
	        		<h3 id="addProcess">Add Manual Time</h3>
	        		{%csrf_token%}  
	        		<div>{{input_time_form}}</div>
	        		<p id="error">{{error}}</p>   
	        		<button type="submit", name="addManualTime", value="add" class="btn btn-success">Add</button>       
	      	</form>
	    	</div>
			<div class="editContainer">
	      	<form method="POST", action="#">    
	        		<h3 id="addProcess">Add Manual Input</h3>
	        		{%csrf_token%}  
	        		<div>{{input_form}}</div>
	        		<p id="error">{{error}}</p>   
	        		<button type="submit", name="addManual", value="add" class="btn btn-success">Add</button>       
	      	</form>   
	    	</div>
	    	<div class="editContainer">
	      	<form method="POST", enctype="multipart/form-data">    
	        		<h3 id="addProcess">Add Image</h3>
	        		{%csrf_token%}  
	        		<div>{{imageForm}}</div>
	        		<p id="error">{{error}}</p>   
	        		<button type="submit", name="addImage", value="add" class="btn btn-success">Add</button>       
	      	</form>   
	    	</div>
	    	<div class="editContainer">
	      	<form method="POST", enctype="multipart/form-data">    
	        		<h3 id="addProcess">Add File</h3>
	        		{%csrf_token%}  
	        		<div>{{fileForm}}</div>
	        		<p id="error">{{error}}</p>
	        		<button type="submit", name="addFile", value="add" class="btn btn-success">Add</button>       
	      	</form>   
	    	</div>
	    </div>

	{%endif%}
</body>

{%endblock%}

{%block script%}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.0.0/chartjs-plugin-annotation.min.js" integrity="sha512-sLZhA8NE4bIPKMnsROQpJTBKVOQf8ie2GMFVXVfcg90tJ0aNhAWxhPyN0BRjwvZ35dSQF7kSzXtCU11KvWvNwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
<script type="text/javascript" >

function getCookie(cname) { //function to parse through csrf_token data
     var name = cname + "=";
     var ca = document.cookie.split(';');
     for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if(c.indexOf(name) == 0)
           return c.substring(name.length,c.length);
     }
     return "";
}

$(function () {
 var $weightGraph = $("#weight-graph");
      $.ajax({
        url: $weightGraph.data("url"), //url used for gathering data
        success: function (data) {

          var ctx = $weightGraph[0].getContext("2d");
          var url = $weightGraph.data("url");
          
          new Chart(ctx, {
            type: 'bar',
            data: {
              datasets: [{
			    label: 'Weight (kg)',
                backgroundColor: 'red',
                borderColor: 'red',
                data: data.data
              }]          
            },
            options: {
              elements:{
                  point:{
                    radius: 0, //removing dots from line graph
                  },
                },
        
           
            	scales: {
              
						 x:{
                  

                }, 
                 y:{
                  min: 0,
                  max: 100,

                },
              
              },
              
           
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Project Part Bar Chart'
                }
                }
              })
            }
          
        });
      });
      
      $(function () {
 var $thicknessGraph = $("#thickness-graph");
      $.ajax({
        url: $thicknessGraph.data("url"), //url used for gathering data
        success: function (data) {

          var ctx = $thicknessGraph[0].getContext("2d");
          var url = $thicknessGraph.data("url");
          
          new Chart(ctx, {
            type: 'bar',
            data: {
              datasets: [{
			    label: 'Thickness (mm)',
                backgroundColor: 'blue',
                borderColor: 'blue',
                data: data.dataThickness
              }]          
            },
            options: {
              elements:{
                  point:{
                    radius: 0, //removing dots from line graph
                  },
                },
        
           
            	scales: {
              
						 x:{
                  

                }, 
                 y:{
                  min: 0,
                  max: 100,

                },
              
              },
              
           
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Project Part Bar Chart'
                }
                }
              })
            }
          
        });
      });
  
    
</script>
{%endblock%}
    
